.textStroke {
  -webkit-text-stroke: 1px #666666;
  text-shadow: 1px #666666;
}

.gradientBorder {
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
    linear-gradient(to right, #3fb9ff, #8402ff) border-box;
  border: 1px solid transparent;
}
