.avatarRing {
  border-radius: 9999px;
  background-image: linear-gradient(to top, #8c52ff, #f700af);
}

.contactCard {
  border: 1px solid #4c2b85;
  transition: all 0.3s ease;
}
.contactCard:hover {
  background-color: #8c52ff;
}

.customOrderCard {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #8c52ff;
  transition: all 0.3s ease;
}
.customOrderCard:hover {
  box-shadow: 0 0 15px rgba(140, 82, 255, 0.4);
}

.viewAllButton {
  transition: all 0.3s ease;
}

.viewAllButton:hover {
  box-shadow: 0 0 20px rgba(5, 136, 154, 0.94);
  transform: scale(1.05);
}
