.docCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--cor-fundo-secundario);
  border: 1px solid var(--cor-borda);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.docCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dark .docCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.docLink {
  font-weight: 600;
  color: var(--cor-texto-principal);
  transition: color 0.2s;
}

.docCard:hover .docLink {
  color: #0080ff;
}
