/* Adicione este código ao seu ficheiro homepage.module.css */

/* Animação de flutuação suave */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Controla a altura do "pulo" */
  }
}

.animateFloat {
  animation: float 5s ease-in-out infinite; /* Controla a velocidade da animação */
}
