.logoText {
  background: linear-gradient(90.53deg, #00ffff 0%, #0080ff 55.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.webText {
  color: #7dd3fc;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.ctaButtonWithBorder {
  border: 1.5px solid transparent;
  background-image: linear-gradient(
      var(--cor-fundo-principal),
      var(--cor-fundo-principal)
    ),
    var(--gradiente-botoes);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.active {
  position: relative;
  color: var(--cor-texto-principal);
  font-weight: 500;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background: linear-gradient(90deg, #00eeff, #ff00dd);
  border-radius: 2px;
  width: 100%;
  animation: draw-underline 0.4s ease-out forwards;
}

@keyframes draw-underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
