.logoGradient {
  background: linear-gradient(90.53deg, #00ffff 0%, #0080ff 55.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Ajuda a garantir que o gradiente seja aplicado corretamente */
}
